# basics
numpy

# needed for fullcontrol
plotly
pydantic
fullcontrol

# needed for splinepy
splinepy
vedo

# additional needed for this project
vnoise

# needed for use with jupyter notebooks to generate output file names
ipynbname
jupyter